.parallax {
    /* The image used */
    background-image: url("");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 /*Carrusel*/
 .carousel-item {
    height: 93vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
 /*Fin carrusel*/


@media (min-width: 992px){
	.nav-margen-derecho{
		margin-right: 7vh;
	}

	.navbar-nav li:hover>.dropdown-menu {
  		display: block;
	}
}